<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <!-- <xacro:arg name="use_mock_hardware" default="false" /> -->

  <xacro:include filename="$(find spider_description)/robot.urdf" />

  <ros2_control name="Spider" type="system">
    <!-- <xacro:unless value="${use_mock_hardware}"> -->
    <hardware>
        <plugin>spider_ros_control/SpiderHardwareInterface</plugin>
        <param name="serial_port">/dev/tty.usbmodem2101</param>
    </hardware>
    <!-- </xacro:unless> -->
    
    <!-- <xacro:if value="${use_mock_hardware}">-->
    <!-- <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="calculate_dynamics">true</param>
    </hardware> -->
    <!--</xacro:if> -->

    <joint name="1-1">
       <param name="leg_id">1</param>
       <param name="motor_id">1</param>
       <!-- <command_interface name="position"/>
       <state_interface name="position">
          <param name="initial_value">0</param>
       </state_interface>        -->
    </joint>
    <joint name="1-2">
       <param name="leg_id">1</param>
       <param name="motor_id">2</param>
       <!-- <command_interface name="position"/>
       <state_interface name="position">
          <param name="initial_value">0</param>
       </state_interface>        -->
    </joint>
    <joint name="1-3">
       <param name="leg_id">1</param>
       <param name="motor_id">3</param>
       <!-- <command_interface name="position"/>
       <state_interface name="position">
          <param name="initial_value">0</param>
       </state_interface>        -->
    </joint>

  </ros2_control>

</robot>